@page "/sensors"
@using EcoData.AquaTrack.Contracts.Dtos
@using EcoData.AquaTrack.WebApp.Client.Features.Sensors.Components
@inject NavigationManager Navigation

<PageTitle>Sensors - AquaTrack</PageTitle>

<div class="sensors-page">
    <SensorList OnMapClick="NavigateToMap" />
</div>

@code {
    private void NavigateToMap(SensorDtoForList sensor)
    {
        Navigation.NavigateTo($"/map?lat={sensor.Latitude}&lon={sensor.Longitude}");
    }
}
