CompileFlags:
  Remove:
    - -mlongcalls
    - -fstrict-volatile-bitfields
    - -fno-tree-switch-conversion
    - -mtext-section-literals
    - -mfix-esp32-psram-cache-issue
    - -mfix-esp32-psram-cache-strategy=memw
    - -fstack-protector*
