@page "/alerts"
@using BlazorStaticNavigation
@using EcoData.NativeUi.Services
@using EcoPortal.Client.Features.HealthAlerts.Components
@inject INativeNavbarManager Navbar

<PageTitle>Health Alerts - EcoData</PageTitle>

<div class="alerts-page">
    <section class="alerts-content">
        <HealthAlertList />
    </section>
</div>

@code {
    protected override void OnInitialized()
    {
        Navbar.SetTitle("Alerts");
    }
}
