@page "/alerts"
@using BlazorStaticNavigation
@using EcoPortal.Client.Features.HealthAlerts.Components
@using EcoPortal.Client.Components

<PageTitle>Health Alerts - EcoData</PageTitle>
<EcoPortalTitle Title="Health Alerts" />

<div class="alerts-page">
    <section class="alerts-content">
        <HealthAlertList />
    </section>
</div>
