<footer class="footer">
    <MudContainer MaxWidth="MaxWidth.Large">
        <div class="footer-content">
            <MudText Typo="Typo.caption" Class="footer-copyright">
                &copy; @DateTime.Now.Year EcoData Portal
            </MudText>
            <div class="footer-links">
                <MudLink Href="#" Typo="Typo.caption" Underline="Underline.None" Class="footer-link">
                    A project of Inter American University of Puerto Rico
                </MudLink>
                <MudLink Href="/privacy" Typo="Typo.caption" Underline="Underline.Hover" Class="footer-link">
                    Privacy
                </MudLink>
                <MudLink Href="/terms" Typo="Typo.caption" Underline="Underline.Hover" Class="footer-link">
                    Terms
                </MudLink>
            </div>
        </div>
    </MudContainer>
</footer>
